#centered_small_icon, #green_line, #full_width_icon, #repeated_icon {
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#centered_small_icon{
    background-color: blue;
    background-size: 20px;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-repeat: no-repeat;
    background-position: center;
}
#green_line{
    background-color: green;
}
#full_width_icon{
    background-color: red;
    background-position: center;
    background-size: cover;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
    background-repeat: no-repeat;
}
#repeated_icon{
    background-color: purple;
    background-size: 20px;
    background-image: url('https://mdn.mozillademos.org/files/11947/ff-logo.png');
}