#figure1{
    border: solid black 1px;
    width: 150px;
    height: 120px;
}
#figure2{
    border: solid black 4px;
    padding: 20px;
    bottom: -120px;
}
#figure3{
    border: solid pink 1px;
    margin: 10px;
    bottom: -120px;
}
#figure4{
    border: solid cyan 2px;
    border-radius: 15px;
    width: 50%;
    height: 100px;
    padding: 5px;
}
#figure5{
    border: solid black 1px;
    padding-left: 20px;
}
#figure6{
    border: solid black 1px;
    margin-left: 10px;
}
#figure7{
    border: solid lightblue 4px;
    border-radius: 15px;
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    height: 100px;
}
